header{
    background-color: red;
    grid-area: header;
}
aside{
    background-color: yellow;
    grid-area: sidebar;
}
main{
    background-color: blue;
    grid-area: main;
}
footer{
    background-color: green;
    grid-area: footer;
}
body{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    padding: 0;
    margin: 0;
}
.project2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    list-style: none;
    padding: 0;
    gap: 10px;
    & .img {
        position: relative;
    }
    & .img img{
        width: 250px;
        height: 250px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
        border-radius: 10px;
        opacity: 1;
    }
    &  .img .overlay {
        & h1{
            font-size: 15px;
            margin: 0;
            width: fit-content;
            padding-bottom: 20px;
            line-height: 15px;
        }
        & p{
            margin: 0;
            width: fit-content;
            line-height: 15px;
            padding-bottom: 10px;
            font-size: 12px;
        }
        gap: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 250px;
        border-radius: 10px;
        background-color: #F3F5F8;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 20px;
        opacity: 0;
        width: 240px;
        padding-left: 10px;
        transition: 0.2s ease;
    }
}
.project2 .img:hover .overlay{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 1);
    opacity: 1;
}